@{
    ViewData["Title"] = "Home Page";
}
<script src="~/node_modules/attachment-core/dist/attachmentsystem.js"></script>
<a id="a23">test</a>
<h1 class="display-4">Welcome</h1>
<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
<attachment-input entity-name="Category" field-name="Image" entity-id="46"></attachment-input>

