attachment-modal {
  > attachment-popup > .modal > .modal-card {
    > .modal-card-body {
      &.disabled {
        pointer-events: none;
        opacity: .7;
      }
    }

    > .modal-card-head {
      padding: 5px;

      .modal-card-title {
        padding-left: 15px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-size: 18px !important;
        font-weight: bold;
      }
    }

    > .modal-card-foot {
      padding: 5px;

      ul {
        padding-left: 15px;
        list-style-type:none;
      }

      .button.spinner {
        margin-left: auto;
        margin-right: 15px;
        order: 2;
      }
    }
  }
}
